<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:label="countries_info_app"
        android:icon="@mipmap/ic_launcher">
        <!-- Your activities and other application components go here -->
    </application>
</manifest>
